body {
	font-family: sans-serif;
}

#solution-pseudocode {
	font-size: 16px;
}

#main {
	padding-left: 200px;
	padding-right: 200px;
}

button {
	background: #f08080;
	border-radius: 3px;
	border: none;
	color: white;
	font-weight: 500;
	font-size: 100%;
	padding: 10px 20px;
	margin: 0 3px;
	cursor: pointer;
}

button:hover {
	background-color: #696969;
}