body {
	font-family: 'Nunito', sans-serif;
	opacity: 0;
	transition: opacity 3s;
	-webkit-transition: opacity 3s; /* Safari */
}

html {
	scroll-behavior: smooth;
}

#solution-pseudocode {
	font-size: 16px;
}

h1 {
	font-weight: 900;
	font-size: 40px;
	border-bottom: 5px solid #b0e0e6;
	padding-top: 40px;
}

#enter-button {
	margin-top: -400px;
	margin-left: 750px;
	margin-bottom: 300px;
	padding: 5px 10px;
	letter-spacing: 10px;
}

#intro {
	margin-top: 40px;
	font-size: 60px;
	font-weight: 900;
}

#intro-text {
	margin-top: -400px;
	margin-left: 600px;
	font-size: 90px;
	font-weight: 900;
	line-height: 0.9;
	margin-bottom: 400px;
}

h2 {
/*	border-left: 5px solid #b0e0e6;
	padding-left: 10px;*/
	text-underline-position: under;
	text-decoration-line: underline;
	text-decoration-style: wavy;
	text-decoration-color: #70a0a6;
	text-decoration-width: 1px;
	line-height: 1.5;
}

#main {
	padding-left: 75px;
	padding-right: 75px;
}

#explanation {
	border: 1px solid black;
	margin-right: 750px;
	margin-bottom: 30px;
	padding: 1px 10px;
}

#identify {
	border: 1px solid black;
	padding-left: 25px;
	margin-bottom: 10px;
}

#user-interact {
	border: 1px solid black;
	padding-left: 25px;
}

#solution {
	border: 1px solid black;
	padding-left: 25px;
}

#solution-pseudocode {
	border: 1px solid black;
	margin-right: 250px;
	margin-bottom: 30px;
	padding: 1px 10px;
	background: #F3F3F3
}

button {
	background: transparent;
	border-radius:20px;
	border: 1px solid black;
	color: black;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	font-size: 100%;
	padding: 10px 20px;
	margin: 10px 3px;
	cursor: pointer;
}

button:hover {
	background-color: #b0e0e6;
}
